@model IEnumerable<Room>
@section scripts {
  <script src="~/lib/lodash/dist/lodash.min.js"></script>
  <script src="~/lib/vue/dist/vue.js"></script>
  <script src="~/js/index.js"></script>
}

<div id="theSection">
  <div class="alert alert-danger" v-if="isBusy">
    Please wait...
  </div>
  <ul v-bind:class="'bg-' + color">
    <li>
      {{ name }}
    </li>
    <li>
      {{ today | shortDate }}
    </li>
  </ul>
  <button class="btn btn-success" @@click="onToggle()">Toggle</button>

  <button class="btn btn-info" @@click="onSort('rate')">Sort by Rate</button>
  <button class="btn btn-info" @@click="onSort('title')">Sort by Name</button>

  <div class="row">
    <div class="col-md-4" v-for="r in rooms">
      <div class="card">
        <img class="card-img" :src="r.images[0].url" />
        <div class="card-body">
          <h4 class="card-title">{{ r.title }}</h4>
          <p class="card-text">{{ r.description }}</p>
          <ul class="list-unstyled">
            <li><strong><i class="fas fa-male"></i> Max Guests:</strong> {{ r.maxGuests }}</li>
            <li><strong><i class="fas fa-money-bill-alt"></i> Price:</strong> ${{ r.rate }}</li>
          </ul>
        </div>
        <div class="card-footer">
          <div class="float-right">
            <button class="btn btn-sm btn-success">Book Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
