@{
  ViewBag.Title = "Hello Birmingham";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>@ViewBag.Title</title>
  <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
  <h1>@ViewBag.Title</h1>
  <script src="~/lib/jquery/dist/jquery.js"></script>
</body>
</html>