
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bacon Web</title>
  <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
  <div id="page">
    <nav class="container navbar-nav navbar-dark navbar-fixed-top" style="background-color: rgba(107, 0, 0, .75)">
      <button class="btn btn-primary navbar-toggler hidden-md-up pull-xs-right" data-toggle="collapse" data-target="#theMenu">&#9776;</button>
      <a id="logo" href="/" class="navbar-brand"><i class="fa fa-cutlery"></i> Bacon is Love</a>
      <div class="nav navbar-nav pull-sm-right  collapse navbar-toggleable-sm" id="theMenu">
        <a href="/" class="nav-item nav-link active">Home</a>
        <a href="/Home/Contact" class="nav-item nav-link">Contact</a>
        <a href="/Home/About" class="nav-item nav-link">About</a>
      </div>
    </nav>
    <section id="container" class="container">
      <div class="row">
        <section id="main" class="col-md-9 col-sm-6">
          <h1>Bacon is Awesome</h1>

          <p>Bacon ipsum dolor amet jerky ribeye turkey, tenderloin doner tongue cupim filet mignon pastrami sausage. Bresaola jowl pig swine fatback pork belly pork loin ground round flank sausage drumstick jerky meatloaf beef ribs. Swine leberkas biltong turkey beef ribs rump, ham hock spare ribs short loin. Rump jowl short ribs meatball pancetta boudin picanha short loin.</p>

          <img src="~/img/bacon.jpg" class="img-fluid" />

          <p>Cupim pork rump, t-bone porchetta chuck flank pastrami tenderloin jowl short loin. Landjaeger porchetta shankle t-bone, strip steak ribeye doner pastrami frankfurter prosciutto beef ribs filet mignon shoulder flank bresaola. Salami boudin meatloaf beef picanha ham. Salami jowl pork belly tail meatball pork loin chuck ham hock pastrami ball tip rump picanha. Ham hamburger chuck, ground round leberkas strip steak jowl short ribs pig. Strip steak jowl ribeye swine jerky capicola, fatback biltong.</p>

          <p>Picanha bacon cupim ribeye, meatball chuck sausage prosciutto pork belly tri-tip shank capicola landjaeger. Chuck pastrami ham hock rump. Tongue salami andouille capicola tri-tip. Ham pork belly pancetta venison. Filet mignon andouille kielbasa shank brisket shoulder. Meatloaf tenderloin jowl chicken ham landjaeger, shank spare ribs beef ground round corned beef. Tail picanha meatloaf, venison capicola pig sausage.</p>

          <p>Pork loin biltong andouille, bresaola spare ribs corned beef fatback tongue meatball picanha strip steak kevin rump tenderloin ribeye. Fatback spare ribs short loin ball tip drumstick sirloin ham tenderloin pork loin landjaeger beef bacon picanha cupim. Tri-tip ham hock chuck salami. Andouille shoulder beef ribs cupim cow, kielbasa biltong chicken. Jowl pork chop alcatra, beef ribs shoulder prosciutto capicola hamburger beef bacon meatloaf ham hock. Strip steak beef ribs tenderloin, brisket fatback beef cow meatloaf ground round pork loin leberkas t-bone. T-bone flank pastrami cupim jowl tenderloin meatball shankle meatloaf porchetta ham hock drumstick turducken.</p>

          <div class="figure">
            <img src="~/img/morebacon.jpg" class="img-fluid" />
            <div class="figure-caption pull-xs-right">Fig. 1</div>
          </div>

          <p>Kielbasa pork chop pastrami, jowl strip steak cow tri-tip hamburger tail. Beef ribs ham hock pork, bresaola tri-tip kielbasa cow ham tail capicola ground round ball tip fatback. Cow andouille bresaola meatball shank short loin, pork loin biltong ribeye shankle sausage ham ball tip. Turkey tri-tip pork kielbasa leberkas frankfurter pork belly prosciutto capicola. Pork loin strip steak chuck meatloaf bacon tongue, beef ribs bresaola frankfurter alcatra filet mignon doner pork. Spare ribs kevin shankle corned beef hamburger beef.</p>

        </section>
        <section id="sidebar" class="col-md-3 col-sm-6">
          <progress max="150" value="50" class="progress progress-striped progress-warning"></progress>
          <h2>More about Bacon</h2>

          <p>Bacon ipsum dolor amet hamburger cow biltong doner. Shank corned beef pig spare ribs cupim doner chuck leberkas. Corned beef picanha shoulder hamburger salami tenderloin chicken filet mignon cupim fatback drumstick. Pig strip steak brisket ground round hamburger pancetta ham hock sausage cupim pork chop drumstick fatback. Prosciutto filet mignon sausage landjaeger boudin, alcatra pastrami pancetta cow ham hock tenderloin. Boudin jowl pork loin short ribs corned beef.</p>

          <p>Ribeye kielbasa tenderloin ground round, picanha ham hock meatball pig. Pig ball tip short ribs spare ribs, shankle venison cow strip steak pork belly turducken bresaola brisket pastrami. Salami cow turkey filet mignon, kielbasa ball tip brisket chuck shoulder bacon tongue pork. Shank pancetta meatloaf, corned beef hamburger ground round flank.</p>

          <div class="card card-success card-inverse">
            <div class="card-header">
              <h4 class="card-title">Hello Bacon</h4>
              <p class="card-subtitle">Bacon is awesome!</p>
            </div>
            <div class="card-block">
              <p class="card-text">Boudin meatloaf spare ribs, chuck strip steak pork andouille frankfurter venison shoulder ham corned beef tail. Bresaola cupim chicken, ribeye pancetta ball tip tri-tip shank meatball drumstick sirloin sausage. Brisket corned beef frankfurter rump, leberkas prosciutto shank sirloin. Meatball boudin tenderloin venison beef ribs, pancetta tongue short ribs frankfurter meatloaf ribeye. Swine shankle flank corned beef cow.</p>


              <img src="~/img/chicken.jpg" class="img-fluid" />
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-danger">Push Me</button>
            </div>
          </div>
          <form>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" class="form-control" />
            </div>
            <div class="form-group">
              <label for="pwd">Password</label>
              <input type="password" name="pwd" id="pwd" class="form-control" />
            </div>
            <div class="form-group">
              <label class="custom-checkbox ">
                <span class="custom-control-indicator"></span>
                <input type="checkbox" /> Remember Me?
              </label>
            </div>
            <div class="form-group">
              <label>Favorite Meat</label>
              <select class="form-control custom-select">
                <option selected>Select One</option>
                <option value="bacon">Bacon</option>
                <option value="sausage">Sausage</option>
                <option value="steak">Steak</option>
                <option value="ribs">Ribs</option>
              </select>
            </div>
            <div class="form-group">
              <input type="submit" value="Send" />
            </div>

          </form>
        </section>
      </div>
    </section>
    <footer class="container">
      <p>&copy; 2015 Bacon Ltd. - Text and Images via <a href="https://baconipsum.com">Bacon Ipsum</a></p>
    </footer>
  </div>


  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="~/js/site.js"></script>
</body>
</html>