@model IEnumerable<Room>
@section scripts {
  <script src="~/node_modules/vue/dist/vue.js"></script>
  <script src="~/node_modules/axios/dist/axios.js"></script>
  <script src="~/js/wait-cursor.js"></script>
  <script src="/js/app.js"></script>
}
<div class="row">
  <div id="app">
    {{ name + " " + name.length }}
    <wait-cursor :busy="isBusy" msg="Loading"></wait-cursor>
    <div><button v-on:click="onNew()">New</button></div>
    <div v-for="r in rooms">
      <div>
        <div class="card">
          <img class="card-img" :src="r.images[0].url" />
          <div class="card-body">
            <h4 class="card-title">{{ r.title }}</h4>
            <p class="card-text">{{ r.description }}</p>
            <ul class="list-unstyled">
              <li><strong><i class="fas fa-male"></i> Max Guests:</strong> {{ r.maxGuests }}</li>
              <li><strong><i class="fas fa-money-bill-alt"></i> Price:</strong> ${{ r.rate }} </li>
            </ul>
          </div>
          <div class="card-footer">
            <div class="float-right">
              <button class="btn btn-sm btn-success" v-on:click="onBook(r)">Book Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
@*@foreach (var r in Model)
  {
    <div class="col-md-4">
      <div class="card">
        <img class="card-img" src="@r.Images.First().Url" />
        <div class="card-body">
          <h4 class="card-title">@r.Title</h4>
          <p class="card-text">@r.Description</p>
          <ul class="list-unstyled">
            <li><strong><i class="fas fa-male"></i> Max Guests:</strong> @r.MaxGuests</li>
            <li><strong><i class="fas fa-money-bill-alt"></i> Price:</strong> $@r.Rate</li>
          </ul>
        </div>
        <div class="card-footer">
          <div class="float-right">
            <button class="btn btn-sm btn-success">Book Now</button>
          </div>
        </div>
      </div>
    </div>
  }*@
