@{
  ViewBag.Title = "Hello Techorama";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>@ViewBag.Title</title>
  <link href="~/site.css" rel="stylesheet" />
</head>
<body>
  <h3>@ViewBag.Title</h3>
  <script src="~/lib/jQuery/dist/jquery.js"></script>
</body>
</html>