<!DOCTYPE html>
<html>
<head>
  <title>@ViewBag.Title</title>
  <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
  @RenderBody()


  <script src="~/lib/jQuery/dist/jquery.min.js"></script>

</body>
</html>