<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
  <h3>Hello from ASP.NET Core</h3>
  <div>Favorite color: @ViewBag.Color</div>
</body>
</html>