@inject Microsoft.Extensions.Configuration.IConfiguration config
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
  <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
  Hello World from View: @config["FavoriteColors:Primary"]
</body>
</html>